/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 07/12/2016, 12:22:11
    Author     : Matheus Odilon
*/
.title-content{
    top: 25%;
    margin-right: auto;
    margin-left: auto;
    //    width: 100%;
}

.login-btn{
    width: 100%;
}
